ul {
  list-style-type: none;
  background-color: lightpink;
  width: 100%;
  position: fixed; 
  padding: 0;
  margin : 0;
  text-align: center; 
  overflow: hidden; 
}

li{
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

    body { 
  background-color : white;
}

h2 {
  color:black;
  text-align: center;
  font-size: 100px;
}

img{
  width: 600px;
  border-radius: 4px;
  padding:5px;
}

p{
  text-align: center;
}
